<div class="chat">
    <mat-list>
      <mat-list-item *ngFor="let message of messages">
        <div matLine>
          <strong>{{ message.sender }}:</strong> {{ message.text }}
        </div>
      </mat-list-item>
    </mat-list>
  </div>
  
  <form [formGroup]="messageForm" (ngSubmit)="sendMessage()">
    <mat-form-field appearance="fill">
      <input matInput formControlName="text" placeholder="Type a message...">
    
    <mat-error *ngIf="messageForm?.get('text')?.invalid">Message is required</mat-error>
    </mat-form-field>

    <br>
    <button mat-raised-button color="primary" type="submit">Send</button>
  </form>